.container{
    height: 500px;
    background-color: green;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-1{
    width: 150px;
    height: 150px;
    background-color: brown;
    border: 2px solid fuchsia;
    word-wrap: break-word;
}
.item-2{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 2px solid pink;
}
.item-3{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 2px solid purple;
}