.formulario{
    display:flex ;
    flex-direction: column;
    padding: 30px;
    background-color: burlywood;
}

.btn{
    margin-top: 20px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid chocolate;
    outline-color: chocolate;
}