.container{
    display: flex;
    flex-direction: column;
}

a{
    color:brown;
    text-decoration: none;
}
a:visited{
    color: green;
}

a:hover{
    background-color:black;
    color: white;

}