@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');


:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}
.principal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 800px;
}

.sedans{
    background-color: var(--Bright-orange);
    padding: 40px;
}

.suvs{
    background-color: var(--Dark-cyan);
    padding: 40px;
}

.luxury{
    background-color: var(--Very-dark-cyan);
    padding: 40px;
    height: 350px;
}

.imagem{
    margin: 20px 0;
}

.titulo{
    margin: 10px 0;
    color: var(--Very-light-gray);
    font-size: 2em;
    font-family: "Big Shoulders Display", serif;
}

.descricao{
    margin: 20px 0;
    color: var(--Transparent-white);
    font-family: "Lexend Deca", serif;
    font-weight: 400px;
}

.btn{
    margin: 20px 0;
    padding: 13px 20px;
    background-color: var(--Very-light-gray);
    border-radius: 25px;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

.sedans .btn{
    color: var(--Bright-orange);
}
.suvs .btn{
    color: var(--Dark-cyan)
}
.luxury .btn{
    color:var(--Very-dark-cyan);
    position: absolute;
    top: 568px;
}

@media (max-widht: 800px){

    body{
        align-items: flex-start;
    }
    .principal-container{
        flex-direction: block;
        max-width: 350px;
    }
    }